.home-wrapper {
  margin: auto;
  background-image: url('../Img/gymbuddy2.jpg ');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 425px;
  min-height: 100vh;
}