.navbar {
  background-color: black;
  color: white;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  margin-right: 20px; /* Adjust the margin as needed */
}

.navbar-link {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.navbar-welcome {
  margin-right: 10px;
}

.navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}