.navbar {
  display: flex;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  height: 50px;
  width: 425px;
  z-index: 999;
  justify-content: space-between;
}

.navbar-logo {
  max-width: 40px;
  height: auto;
  padding-top: 3px;
}

.navbar-right {
  padding-top: 12px;
  padding-right: 10px;
}